<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <button onclick="Auth();">點選這裡連結到LineNotify</button>
  </body>
  <script>
    function Auth() {
      var URL = 'https://notify-bot.line.me/oauth/authorize?';
      URL += 'response_type=code';
      URL += '&client_id=Dj0Bbj3Ub9JYkCIrmWAkND';
      URL += '&redirect_uri=https://8dcdeafc.ngrok.io/notify/check';
      URL += '&scope=notify';
      URL += '&state=nostate';
      window.location.href = URL;
    }
  </script>
</html>
